### Golang excluded paths
/.cache/
/bin/
/pkg/
/var/

# Test binary, build with `go test -c`
*.test

### OSX ENV excluded paths
.DS_Stores

### IDEA excluded paths
out/*
*.iml
/.idea/

### Vendors
/vendor/github.com/
